<div class="content-container container">
	<div class="hero">
		<h1>Star Wars Universe</h1>
		<div class="search-bar-container">
			<search-bar (search)='search($event)'></search-bar>
		</div>
	</div>
	<div class="columns is-multiline" *ngIf="!loading">
		<div class="column is-3" *ngFor="let item of service.data | search: searchInput">
			<div (click)="viewDetails(item)">
				<h4 class="grid-item-title">{{ item?.title ? item?.title : item?.name }}</h4>
				<a href="{{ item?.url }}">View Source</a>
				<p class="category">Category: {{ item?.category }}</p>
				<p class="view-details">View Details</p>
			</div>
		</div>
	</div>
	<div class="loader" *ngIf="loading"></div>
</div>
<app-modal *ngIf="modalOpen" [modalItem]='modalItem' (modalClosed)='modalClosed()'></app-modal>