html,body{
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h1,h4{
  text-transform: uppercase;
}

.hero{
  background-image: url('/assets/bannerImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  position: relative;

  h1{
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    width: 960px;
    letter-spacing: 1px;
  }
}

.search-bar-container{
  width: 960px;
  margin: 0 auto;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;

  input,button{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
  }

  input{
    width: 90%;
    text-indent: 10px;
  }

  button{
    width: 9%;
    background-color: #3776D9;
    border-color: #3776D9;
    color: #fff;
  }
}

.columns{
  max-width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

.column{

  div{
    border: 1px solid #fff;
    height: 200px;
    padding: 20px;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s ease all;

    &:hover{
      background-color: #fff;

      & h4{
        color: #000;
      }
    }
  }

  h4{
    margin-bottom: 20px;
    transition: 0.4s ease all;
  }
}

.view-details{
  margin-top: 20px;
  color: #000;
}

.category{
  position: absolute;
  bottom: 20px;
  color: #595856;
}

.modal{
  color: #000;
}